.accountPage {
  color: white;
  display: grid;
  min-width: 900px;
  grid-template-rows: 75px 25px 1fr 25px 1fr;
  row-gap: 2em;

  background: linear-gradient(#2c3440, rgb(21, 24, 28) 30%);
}

#navbar {
  display: grid;
  width: 60%;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  color: white;

  background-color: rgb(21, 24, 28);
  padding: 1em 25% 1em 25%;
}

#accountLink, .logoutLink, #filmsLink, #loginLink, #createLink {
  color: white;
  font-size: 17px;
}

.watchedTitle {
  font-size: 26px;
  padding-left: 1em;
}

.watchedMovies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80%;
  justify-self: center;
}

.movieCont {
  display: grid;
  justify-items: center;
  align-items: center;
}

.movieCont img {
  width: 15%;
  min-width: 130px;
  max-width: 160px;
}

.futureMovies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80%;
  justify-self: center;
}

.futureTitle {
  font-size: 26px;
  padding-left: 1em;
}
