.filmsPage {
  color: white;
  display: grid;
  min-width: 900px;
  grid-template-rows: 75px 1fr;
  row-gap: 2em;

  background: linear-gradient(#2c3440, rgb(21, 24, 28) 10%);
  overflow-x: hidden;
}

#navbar {
  display: grid;
  width: 60%;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  color: white;
  background-color: rgb(21, 24, 28);
  padding: 1em 25% 1em 25%;
}

.filmsContent {
  display: grid;
  grid-template-rows: 75px 75px 1fr;

}



.filters {
  display: grid;
  justify-self: center;
  grid-template-rows: 1fr;
  grid-template-columns: 75px 125px 200px 200px 100px 150px;
  padding-left: 2em;
  font-size: 20px;
  justify-items: center;
  align-items: center;
}

.filters input {
  justify-self: right;
  border-radius: 6px;
  background-color: #dfe1e4;
  border-style: none;
  height: 22px
}

.filters input:focus {
  outline: none;
}

.filters select {
  height: 22px;
  border-radius: 6px;
  background-color: #dfe1e4;
  font-family: 'Poppins', sans-serif;
}

.searchIcon {
  justify-self: right;
}

label {
  justify-self: right;
  transition: transform 0.2s;
}

#year:hover {
  cursor: pointer;
  color: greenyellow;
  transform: scale(1.1)
}

#popularity:hover {
  cursor: pointer;
  color: greenyellow;
  transform: scale(1.1)
}

.resultsTitle {
  font-size: 26px;
  font-weight: bold;
  justify-self: center;
  align-self: center;

}

.resultsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 80%;
  justify-self: center;
  row-gap: 2em;
}

.resultsGrid img {
  width: 15%;
  min-width: 130px;
  max-width: 160px;

  border-radius: 2px;
	border-style: solid;
	border-width: 0.2px;
	border-color: rgb(217, 224, 231);
  transition: transform .2s

}

.resultsGrid img:hover {
  border-color: greenyellow;
  transform: scale(1.2);
}

