html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
	display: none;
}

/*
	================
	Home Page
	================
*/
.App {
	font-family: 'Poppins', sans-serif;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

#homePage {
	display: grid;
	grid-template-rows: 75px 1fr;
	min-width: 1200px;
	overflow-x: hidden;

}

/*
	================
	Nav Bar
	================
*/

#homePage #navbar {
	display: grid;
  width: 60%;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-items: center;
	justify-self: center;
  color: white;
	background-color: rgba(21, 24, 28,0);

}

#navbar a, .logoutLink {
	text-decoration: none;
	transition: transform 0.2s;
}

#navbar a:hover {
	cursor: pointer;
	transform: scale(1.1);
	color: greenyellow;
}

#navbar .logoutLink:hover {
	cursor: pointer;
	transform: scale(1.1);
	color: greenyellow;
}

.logoutLink {
	justify-self: left;
	padding-left: 1em;
}

#logo {
	font-size: 32px;
	align-self: center;
	justify-self: left;
	color: yellowgreen;
}

#loginLink, #createLink, #filmsLink {
	font-size: 18px;
	justify-self: center;
	align-self: center;
	color: rgb(217, 224, 231);
}

#userDiv {
	font-size: 18px;
	justify-self: center;
	align-self: center;
	color: rgb(217, 224, 231);
}

/*
	================
	Home Content
	================
*/

.homeContent {
	display: grid;
	position: absolute;
	z-index: -1;
	width: 100%;
	background-color: rgb(21, 24, 28);
}

.picCont {
	justify-self: center;
	background-image: url(https://image.tmdb.org/t/p/original/xVbppM1xgbskOKgOuV8fbWBWHtt.jpg);
	height: 625px;
	width: 1100px;
	background-size: contain;
	background-repeat: no-repeat;
	box-shadow: 0 0 40px 40px rgb(16, 19, 22) inset;
	border-radius: 25px;
	opacity: 75%;
}




.siteDesc {
	display: grid;
	justify-items: center;
	font-size: 36px;
	color: #fff;
	font-weight: bold;
	font-family: 'Abril Fatface', cursive;
}

.trendingCont {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: repeat(8, 150px);
	justify-items: center;
	justify-self: center;

	padding-top: 3em;
	padding-bottom: 3em;
}

.trendingCont img {
	width: 90%;
	border-radius: 2px;
	border-style: solid;
	border-width: 0.2px;
	border-color: rgb(217, 224, 231);
	transition: transform 0.2s;
}

.trendingCont img:hover {
  border-color: greenyellow;
	transform: scale(1.1)
}

