html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
	display: none;
}

/*
  ============
  Info Content
  ============
*/


.infoPage {
  color: white;
  display: grid;
  min-width: 1200px;
	overflow-x: hidden;
  grid-template-rows: 75px 1fr;
  background: linear-gradient(#2c3440, rgb(21, 24, 28) 7%);
}

#navbar {
  display: grid;
  width: 60%;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-items: center;
	justify-self: center;
  color: white;
  background-color: rgb(21, 24, 28);
  padding: 1em 25% 1em 25%;
}

.infoContent {
	display: grid;
	grid-template-rows: 1fr 1fr;
	row-gap: 2em;
	padding-top: 5%;
	padding-bottom: 150px;
}

.backdrop {
	display: block;
	min-width: 1200px;
  position:relative;
	justify-self: center;
}

.backdrop:before {
	display: block;
	content:'';
	position:absolute;
	width:1200px;
	height:100%;
	box-shadow:inset 0px 0px 30px 30px rgba(21, 24, 28, 85);
}

.backdrop img {
	justify-self: center;
	width: 1200px;
}

.movieInfo {
	display: grid;
	grid-template-columns: 275px 300px 300px;
	grid-template-rows: 250px 250px 30px;
	justify-self: center;
}

.movieCover {
	grid-column: 1 / 2;
	grid-row: 1 / 3;
}

.movieText {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
	display: grid;
	grid-template-columns: 400px 250px;
	grid-template-rows: 50px 75px 200px 200px;
	align-items: center;
}

.title {
	font-family: 'Abril Fatface', cursive;
	font-size: 36px;
}

.year {
	font-size: 18px;
	justify-self: center;
}

.runtime {
	font-size: 18px;
	justify-self: center;
}

.tagline {
	grid-column: 1 / 2;
	grid-row: 2 / 3;
	font-size: 20px;
	color: yellowgreen;
}

.description {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	font-size: 18px;
	font-weight: 500;
	line-height: 1.75em;
	align-self: start;
}

#watchButton {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	width: 150px;
	justify-self: center;
	font-family: 'Poppins', sans-serif;
	border-style: none;
	border-radius: 5px;
	margin-bottom: 100px;
}

#addedWatched {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	justify-self: center;
	margin-bottom: 150px;
	color: greenyellow;
	animation: cssAnimation 3s forwards;
}

#addedFuture {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	justify-self: center;
	margin-bottom: 50px;
	color: greenyellow;
	animation: cssAnimation 3s forwards;
}

@keyframes cssAnimation {
	0% {opacity: 1;}
	90% {opacity: 1;}
	100% {opacity: 0;}
}

#watchButton:hover {
	background-color: greenyellow;
	font-weight: 600;
	cursor: pointer;
}

#futureButton {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	width: 150px;
	justify-self: center;
	align-self: center;
	font-family: 'Poppins', sans-serif;
	border-style: none;
	border-radius: 5px;
}

#futureButton:hover {
	background-color: greenyellow;
	font-weight: 600;
	cursor: pointer;
}


.movieCover img {
	width: 225px
}

.movieStream {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	align-self: start;
	justify-self: center;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(26px, 1fr)) ;
	justify-items: center;
	align-items: center;
}

.movieStream div {
	padding: 1em;
}

.movieStream img {
	width: 50px;
}

.source {
	padding-top: 1em;
	font-size: 12px;
	justify-self: center;
	text-align: center;
}


