.userLoginPage {
  color: white;
  display: grid;
  min-width: 900px;
  height: 100vh;
  grid-template-rows: 75px 1fr;

  background: linear-gradient(#2c3440, rgb(21, 24, 28) 40%);
  overflow-x: hidden;
  justify-items: center;
}

.loginContent {
  display: grid;
  grid-template-rows: 100px 200px;
  justify-items: center;
  padding-top: 2em;
}

.loginInfo {
  display: grid;
  justify-items: center;
}

.loginTitle {
  font-size: 22px;
}

.loginInstructions {
  font-size: 18px;
}

.loginFormCont {
  display: grid;
}

.loginFormCont form {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 50px 30px 50px 30px 50px;
  justify-items: center;
  justify-self: center;
}

.loginFormCont label {
  justify-self: left;
  font-size: 16px;
  align-self: center;
}

.loginFormCont input {
  height: 20px;
  align-self: center;
  border-radius: 5px;
}

.loginFormCont input:focus {
  outline: none;
}

.loginFormCont button {
  height: 25px;
  align-self: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border-style: none;
}

.loginFormCont button:hover {
  font-weight: 600;
  background-color: greenyellow;
}

#success {
  color: greenyellow;
  font-size: 22px;
  padding-top: 1em;
  justify-self: center;
}




